.card {
  width: 325px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  list-style-type: none;
  margin: 0;
  background-color: #ffffff;
  color: #00000099;
  width: 73px;
  min-height: 24px;
  border-radius: 4px;
  padding: 2px 12px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.card__image {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #0000004d;
  height: 325px;
}

.card__like-button {
  background-image: url(../../assets/❤.svg);
  height: 20px;
  width: 23px;
  border: none;
  background-color: #fcf5e5;
  opacity: 0.4;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.card__like-btn_active {
  background-image: url(../images/heart-red-liked.svg);
  opacity: 1;
}
.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}
.card__like-btn_active:hover {
  background-image: url(../images/heart-red-hover.svg);
}
.card__delete-button {
  background-image: url(../images/default-trash-grey.svg);
  height: 32px;
  width: 32px;
  border: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
}
.card__delete-button:hover {
  cursor: pointer;
  background-image: url(../images/delete-hover-trash-red.svg);
}
