.card {
  width: 325px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  position: absolute;
  top: 15px;
  list-style-type: none;
  margin: 0;
  background-color: #ffffff;
  color: #00000099;
  width: 73px;
  min-height: 24px;
  border-radius: 4px;
  padding: 2px 12px;
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.card__image {
  width: 100%;
  border-radius: 8px;
  border: 1px solid #0000004d;
  height: 325px;
}

.card__like-btn {
  background-image: url(../../assets/like-heart.svg);
  height: 18px;
  width: 15px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  margin: 20px 111px 194px 250px;
}
.card__like-btn_liked {
  background-image: url(../../assets/liked-heart.svg);
  opacity: 1;
}
.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}
