.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0 28px;
}

.header__avatar {
  width: 40px;
  left: 40px;
  border-radius: 50%;
}

.header__right-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.header__add-clothes-btn {
  border: none;
  background-color: #f3f3f3;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__link {
  text-decoration: none;
  color: #000;
}

.header__logo {
  height: 40px;
  width: 89px;
  margin-right: 24px;
}

.header__date-and-location {
  margin: 0;
}

.header__username {
  margin: 0;
}
