.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__avatar-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 24px;
}

.sidebar__buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar__user-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.sidebar__username {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar__edit-profile-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
}

.sidebar__sign-out-btn {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  margin-bottom: 8px;
  text-align: left;
  width: 100%;
}
